# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.csv

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/
MANIFEST

# Virtual environment
.venv/
venv/
ENV/
env/
*.env
Pipfile.lock

# PyInstaller
*.spec

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.cache
pytest_cache/
nosetests.xml
test-results/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# VS Code
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# IDEs
.idea/
*.iml

# Profiling
.prof

# Temporary files
*.swp
*.bak
*.tmp
*.old

# Ignore local JSON/YAML configs
*.local.*
*.secret.*